# compiled files
__pycache__/
*.py[cod]

# PyBot database files
pybot.pickle
pybot.*.pickle

# BS Windows stuff
Thumbs.db
desktop.ini

# API keys
*apikey.txt

# Server-specific .bats
PyBot.storm.bat
PyBot.esper.bat
